body {
	font-family: 'Montserrat', sans-serif;
}

/*Estilo do cabeçalho*/

header {
	background:  #C2C2A3;
	padding: 20px 0;
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.centralizar-formularios{
	width: 940px;
	margin: 0 auto;
}

main {
}

/* Rodapé */
footer {
	text-align: center;
	background: url(bg.jpg);
	background-attachment: fixed;
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/*Estilo da página inicial/home */
.banner {
	width:100%;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}

.imagem-utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}


.principal p {
	margin: 0 0 1em;	
}

.principal b {
    font-weight: bold;
}

.principal i {
    font-style: italic;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#C2C2A2);
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	padding: 3em 0;
	background: #C2C2A2;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens::before {
    content: "★";
    margin-left: 10px;
    margin-right: 10px;
}

.itens:first-child {
	font-weight: bold;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
}

.imagem-beneficios:hover {
	width: 60%;
	opacity: 0.3;
	transition: 400ms;
}

.video {
	width: 560px;
	margin: 2em auto;
}

/*Página dos produtos*/
.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px;
	vertical-align: top;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	transform: scale(1.13); 
	/*font-size: 34px;*/
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produtos-descricao {
	font-size: 18px;
}

.produtos-preco {
	font-size: 22px;
	font-weight: bold;
}

/* Página de contato */
form {
	margin: 40px 0;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

/*.forma-de-contato {
	margin-bottom: 20px;
}*/

.input-contato {
	margin:0 10px 0 0;
}

.campo-selecao-horario {
	width: 250px;
	padding: 5px;
}

.checkbox {
	margin: 20px 10px 0 0px;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: orange;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transition: 0.5s all;
	transform: scale(1.1);
}

table {
	margin: 20px 60px;
	width: 25%;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 15px 8px;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, .centralizar-formularios {
        width: auto;;
	}

	h1 {
		text-align: center;
	}
	nav {
		position: static;
		text-align: center;
	}

	.lista-beneficios, .imagem-beneficios, .imagem-beneficios:hover, form {
		width: 100%;
	}
	.produtos li {
		display: block;
		width: 70%;
		margin: 2em 0 2em 4em ;
	}
	form {
		width: 85%;
		margin: 2em 0 0 3em;
	}
	table {
		width: 50%;
	}
	.enviar {
		width: 75%;
	}
}